 .box {
     font-size: 35px;
     padding: 10px;
     width: 60px;
     border: 1px solid rgb(185, 185, 185);
     margin: 0.5px;
}

.box:hover {
    font-size: 30px;
    cursor: pointer;
}
 
a:hover {
    cursor: pointer;
    font-size: 26px;
}


p {
     margin: 0;
}

li {
    margin: 10px;
    list-style-type: none;
}


button {
    margin: 10px !important;
}

#form-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}